<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Quentin - StoryMap</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" 
        content="default-src 'self';
                script-src 'self' 'unsafe-inline' https://127.0.0.1:5000/static/ https://unpkg.com;
                style-src 'self' 'unsafe-inline' https://127.0.0.1:5000/static/ https://unpkg.com;
                img-src 'self' data: blob: https://127.0.0.1:5000/static/ https://*.cartocdn.com https://unpkg.com;
                worker-src 'self' blob:;
                child-src 'self' blob:;
                font-src 'self' data: https://127.0.0.1:5000/static/;
                connect-src 'self' https://127.0.0.1:5000 https://*.cartocdn.com https://unpkg.com https://tiles.openfreemap.org;;
                frame-src 'none';
                object-src 'none';
                base-uri 'self';
                form-action 'self'">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.css" rel="stylesheet" />
    <link rel="icon" href="data:imaage/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
  <path stroke-linecap='round' stroke-linejoin='round' d='M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z' />
</svg>">
</head>
<body>
    <header>{% include 'navbar.html' %}</header>
    <div id="map"></div>
    <div id="panneau">
        <div id="encart"></div>
    </div>
    <footer><div>© 2025 Quentin Rouquette</div></footer>
    <script src="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
