    {% for encart in encart_content %}
    <section id="{{ encart.id }}" class="{{ 'active first-section' if loop.first else '' }}">
        <h3>{{ encart.title }}</h3>

        {% if encart.role %}
        <div class="encart-champ">
            <b><p>{{ encart.role }}</p></b>
        </div>
        {% endif %}

        {% if encart.date %}
        <div class="encart-champ" id="date">
            <p>{{ encart.date }}</p>
        </div>
        {% endif %}

        {% if encart.content %}
        <div class="encart-champ">
            <p>{{ encart.content.replace(';', '<br>') | safe }}</p>
        </div>
        {% endif %}

        {% if encart.skills %}
        <div class="encart-champ">
            <div class="skills">
                {% for skill in encart.skills.split(';') %}
                <span class="skill">{{ skill.strip() }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if encart.link and encart.link_alias %}
        <div class="encart-champ">
            <p>
                <a href="{{ encart.link }}" target="_blank">{{ encart.link_alias }}</a>
            </p>
        </div>
        {% endif %}

        <div class="navigation-buttons">
            {% if not loop.first %}
                <button class="prev-button" onclick="scrollToPreviousSection('{{ encart.id }}')">← Précédent</button>
            {% endif %}
            {% if not loop.last %}
                <button class="next-button" onclick="scrollToNextSection('{{ encart.id }}')">Suivant →</button>
            {% else %}
                <button class="first-section-button" onclick="scrollToFirstSection()">Revenir au début ↑</button>
            {% endif %}
        </div>
        
    </section>
    {% endfor %}